{{- if .Values.ingress.enabled -}}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ include "securegist.fullname" . }}-s3-rewrite
  namespace: {{ .Release.Namespace }}
spec:
  stripPrefix:
    prefixes:
      - /s3
{{- end -}}
